.board-container{
    display: flex;
    flex-direction: column;
}

.board-container > div > div {
    width: 15px;
    height: 15px;
    margin: 1px;
}

.board-row {
    display: flex;
    flex-direction: row;
}

.cell-alive {
    background-color: green;
}

.cell-dead {
    background-color: grey;
}