.board-container {
    display: flex;
    flex-direction: column;
}

.board-container>div>div {
    width: 17px;
    height: 17px;
    padding: 1px;
    border: solid 1px black;
}

.board-row {
    display: flex;
    flex-direction: row;
}

.cell-green {
    background-color: green;
}

.cell-yellow {
    background-color: yellow;
}

.cell-red {
    background-color: red;
}

.cell-dead {
    background-color: grey;
}