.board-container{
    display: flex;
    flex-direction: column;
}

.board-container > div > div {
    width: 10px;
    height: 10px;
    background-color: grey;
    margin: 2px;
}

.board-row {
    display: flex;
    flex-direction: row;
}